.user-list {
    width: 80%;
    margin: 0 auto;
}

.user-list__header {
    width: 55%;
    margin: 0 0 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.user-list__text,
.user-list__date {
    font-size: 20px;
}

.user-list__table {
    width: 100%;
    table-layout: fixed;
}

.user-list__title {
    padding: 20px ;
    border-top: 1px solid #8c8888;
    text-align: left;
}

.user-list__title:nth-of-type(1),
.user-list__title:nth-of-type(2),
.user-list__title:nth-of-type(5) {
    width: 12%;
}

.user-list__title:nth-of-type(3) {
    width: 25%;
}

.user-list__item {
    width: 20%;
    padding: 20px;
    border-top: 1px solid #8c8888;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}